{% extends "base.html" %}
    {% block title %}TASK-2{% endblock %}
{% block content %}
<h1 align="center">{% block header %}Transactions{% endblock %}</h1>
    {% if transactions %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Count</th>
              <th scope="col">Transaction Description</th>
            </tr>
          </thead>
          <tbody>
          {% for transaction in transactions %}
            <tr>

              <th scope="row">{{ loop.index }}</th>
              <td>{{ transaction.count }}</td>
              <td>{{ transaction.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% endif %}
{% endblock %}